.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.node {
  font: 8px Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  background-color: rgba(255,255,255,.7);
}

.link {
  fill: none;
  stroke: #ddd; 
/*dynamically adjust stroke for line color*/
  stroke-width: .75px;
}

#heading{
    position:absolute;
    margin: 0px 10px;
}

#heading h1{
    color:#bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#searchCategories{
    position: absolute;
    left: 1%;
    top: 80px;
    width: 60%;
    height: 24px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

#searchInput{
    width:100%;
    border:1px solid #bfbfbf;
}

.sideTools{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color:#787878;
    right: 3%;
    height: 100%;
    width:17%;
}

#dropdown{
    position: absolute;
    top: 80px;
    height: 24px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding:3px;
    border:1px solid #bfbfbf;
}

#radioButtons{
    position: absolute;
    top: 120px;
    width: 90%;
    margin: 0 5%;
}

.group-result{
    display:none !important;
}
