body {
    padding: 20px 0px;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1px;
}

.node {
  font: 8px Helvetica, Arial, sans-serif;
  letter-spacing: 0.05em;
  background-color: rgba(255,255,255,.7);
}

.node text {
    fill: rgba(0,0,0,.6);
}

.highlighted .node text {
    fill: rgba(0,0,0,.6);
}

.node.approved-match {
    font-size: 9px;
    font-weight: bold;
}

.node.active{
    font-size: 12px;
    font-weight: bold;
    z-index: 10000;
}

.highlighted .node.active circle {
    stroke-width: 2px;
}

.highlighted .node.approved-match text {
    fill: rgba(0,0,0,.8);
}

.highlighted .node.active text {
    fill: rgba(0,0,0,1);
    /*fill: #222;*/
    padding: 10px;
}

.link {
  fill: none;
  stroke: #eee; 
/*dynamically adjust stroke for line color*/
  stroke-width: .5px;
}

#heading{
    position:absolute;
    margin: 0px 10px;
}

#heading h1{
    color:#bfbfbf;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

#searchCategories{
    width: 100%;
}

.chosen-container {
    width: 100% !important;
    height: 34px;
}

.chosen-container-multi .chosen-choices {
    border-radius: 5px;
    box-shadow: 0px 0px 0px rgba(0,0,0,0);
    box-sizing: border-box;
    min-height: 34px;
    line-height: 32px;
    border: 1px solid #ccc;
    background-image: none;

}

#searchCategories .group-result {
    display: none;
}

/*
.inputfield{
    position: absolute;
    left: 1%;
    top: 80px;
    width: 60%;
    height: 24px;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
}

#searchInput{
    width:100%;
    border:1px solid #bfbfbf;
}
*/
/*.sideTools{
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color:#787878;
    right: 3%;
    height: 100%;
    width:17%;
}*/

/*.radioButtons{
    position: absolute;
    top:20%;
    width: 90%;
    margin: 0 5%;
}*/
/*
#dropdown{
    position: absolute;
    top: 80px;
    height: 24px;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding:3px;
    border:1px solid #bfbfbf;
}

#radioButtons{
    position: absolute;
    top: 120px;
    width: 90%;
    margin: 0 5%;
}

.group-result{
    display:none !important;
}*/
